<%- include('../includes/header.ejs')  %> 
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(product => { %>
                        <li class="cart__item">
                            <p>
                                <h1><%= lodash.capitalize(product.title) ?? 'Not Found ' %></h1>
                                <h2>Quantity: (<%= product.quantity %>) </h2> 
                                <form action="/cart/delete-item/" method="POST">
                                    <input type="hidden" name="product_id" value="<%= product.product_id  %>">
                                    <button class="btn danger" type="submit">
                                        Delete
                                    </button>
                                </form>
                                <form action="/cart/delete-items/" method="POST">
                                    <input type="hidden" name="product_id" value="<%= product.product_id  %>">
                                    <button class="btn" type="submit">
                                        Delete All
                                    </button>
                                </form>
                            </p>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No products found!</h1>
            <% } %>
        </main> 
        <%- include('../includes/end.ejs') %> 